<div class="hero">
  <br />
  <div class="frosty col-10 offset-1">
  <h1>YOU must learn!<h1>
  <h2>and Learn it WELL!<h2>
  <h1>I'm Art, its nice to meet you.</h1>
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <!-- link_to 'Learn More', '#', class: 'btn btn-success' %>  %> -->
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of knick knacks, hacks, and short courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Be better. Improve. Gain new skills. Enroll and access a courses archive of lessons.The journey begins with one step.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Great minds think alike. Share and learn with a community of like-minded individuals.</p>
  </div>
</div>
